
<div id="home" class="flex lg:flex-row flex-col justify-around content-center text-3xl md:py-32 py-8 bg-white dark:bg-gray-900 dark:text-white">
    <div class="left flex flex-col justify-center content-start p-10 mx-auto text-center">
        <span>We Offer: </span>
        <div class="typing-container">
            <p>{{ currentSentence }}</p>
          </div>
        <span class="">At your fingertips!</span>
        <!-- <h1 class="text-6xl">NUELJEFF </h1><br> 
        <h3 class="text-3xl">International Ltd</h3> -->
        <h3 class="italic text-xl">...Securing Your Success with Safety and Service Excellence</h3>
        <br>
        <div class="flex flex-row justify-center items-center">
            <a href="./../../assets/docs/Nuel-Jeff-company profile.pdf" (click)="downloading()" type="button" class="w-64 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <i class="fa-solid fa-cloud-arrow-down pr-3"></i><span>Download Documentation</span></a>

        </div>
    </div>
    <div class="image rounded-3xl lg:w-[30vw] md:w-[90vw]  lg:px-2 p-0 mx-auto">
        <img src="./../../assets/images/Safety Equipments.jpg" class=" transition ease-in-out rounded-3xl shadow-lg hover:shadow-2xl dark:shadow-white/50 dark:hover:shadow-white/80   " alt="" srcset="">

    </div>
</div>



<div class="about py-10 bg-white dark:bg-gray-900 dark:text-white text-lg lg:text-xl" id="about">
    <div class="about-title relative grid place-content-center text-4xl">
        <!-- <img src="./../../assets/images/About-section.jpg" alt="About-header"> -->
        
        <span class="z-10 text-white"><b>ABOUT NUELJEFF</b></span>
    </div>

    <div class="about-content p-10 lg:py-10  text-justify ">
        <p><b>NUELJEFF INTERNATIONAL LIMITED</b> is a fully registered Nigerian Company which was established in 2014 with <b>RC No: 1223364</b>. <b>NUELJEFF INTERNATIONAL LIMITED</b> is a service driven oriented Company, specialized in provision of high quality service in safety and allied marketing operations. Our scope of operations ranges from procurement, maintenance and supply of top quality safety materials, 
            oil & gas services, logistic supports, procurement and supply of industrial/Agro materials and general contracts.</p>
            <br>
        <p>Here at <b>NUELJEFF INTERNATIONAL LIMITED</b>, Safety consciousness is an essential integral part of our activities and no effort is spared in ensuring that this concept is enshrined in our operations.</p>
    </div>
    

    <div class="flex flex-col justify-center gap-4 px-5 items-center lg:m-4 xl:grid xl:grid-cols-3">
        
        <div class="flex flex-col items-center bg-white border cursor-pointer text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg " src="./../../assets/images/Our_mission.jpg" alt=""> -->
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">OUR MISSION</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Committing to excellence, maintain the trust and confidence of our customers, and principals. Conducting business ethically with a world class standard of safety and quality.</p>
            </div>
        </div> 

        
        <div class="flex flex-col items-center bg-white border cursor-pointer text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../assets/images/Our-vision.jpg" alt=""> -->
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">OUR VISION</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>NUELJEFF INTERNATIONAL LIMITED</b>’s vision is to be a regional pioneer company and a benchmark for providing best-in class services.</p>
            </div>
        </div>
        
        <div class="flex flex-col items-center bg-white border cursor-pointer text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../assets/images/Our-vision.jpg" alt=""> -->
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Quality, Health, Safety and Environmental (QHSE) Policy</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><p>We are committed to achieving customer satisfaction in all our services, through
                    promotion, maintenance and facilitation of continual improvement in our quality
                    and safety systems. We are committed to conducting our activities in a manner
                    as to develop, implement and maintain the health and safety of employees,
                    suppliers and customer who may be affected by the day to day operations</p>
            </div>
        </div>
        
        <div class="flex flex-col items-center bg-white border cursor-pointer text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Local Content Policy</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nigeria Content Development Policy…. It is our responsibility to grow our Country.
                    <b>NUELJEFF</b> is committed to developing Nigerians and Nigerian economy by maximizing expertise, technical knowledge.</p>
            </div>
        </div>
        
        <div class="flex flex-col items-center bg-white border cursor-pointer text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Community Relations</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Meeting the needs of our community is our concern. <b>NUELJEFF</b> is committed to
                    positively impacting people. Through dedicated corporate social responsibility (CSR) programs, we apply a hands on approach to nurture sustainable community development.</p>
            </div>
        </div>

    </div>
</div>      


<div class="services py-10 bg-white dark:bg-gray-900 dark:text-white text-lg lg:text-xl" id="services">
    <div class=" services-title relative grid place-content-center text-4xl mb-10">
        <!-- <img src="./../../assets/images/About-section.jpg" alt="About-header"> -->
        
        <span class="z-10 text-white"><b>OUR SERVICES</b></span>
    </div>

    <div class="flex flex-col justify-center gap-4 px-5 items-center lg:m-4 lg:flex-row">
        
        <div class="flex flex-col items-center w-[80vw] cursor-pointer lg:w-[30vw] bg-white border text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg " src="./../../assets/images/Our_mission.jpg" alt=""> -->
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center border-b">PROCUREMENT & SUPPLY OF SAFETY EQUIPMENT</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">We at <b>NuelJeff</b> cater to diverse industries worldwide with a commitment to excellence, offer a comprehensive range of Personal Protective Equipment (PPE) while ensuring the utmost safety and protection for workers in various 
                    environments.</p>
            </div>
        </div>  

        
        <div class="flex flex-col items-center w-[80vw] cursor-pointer lg:w-[30vw] bg-white border text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../assets/images/Our-vision.jpg" alt=""> -->
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center border-b">INSTALLATION/ MAINTENANCE AND REPAIR SERVICES</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>NuelJeff</b> specializes in Installation, Maintenance & Repair services, offering comprehensive solutions to ensure optimal performance and longevity of your equipment and infrastructure</p>
            </div>
        </div>
        
        <div class="flex flex-col items-center w-[80vw] cursor-pointer lg:w-[30vw] bg-white border text-justify border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../assets/images/Our-vision.jpg" alt=""> -->
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center  border-b">IMPORT & EXPORT/ LOGISTICS SERVICES</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>NuelJeff</b> offers comprehensive Import & Export/Logistics services tailored to meet the diverse needs of businesses worldwide. With a focus on efficiency, reliability, and cost-effectiveness, we facilitate seamless transportation of goods across borders, ensuring timely delivery and compliance with international regulations.</p>
            </div>
        </div>

    </div>
</div>

<div class="contact py-10 bg-white dark:bg-gray-900 dark:text-white text-lg lg:text-xl" id="contact">
    <div class=" contact-title relative grid place-content-center text-4xl mb-10">
        <!-- <img src="./../../assets/images/About-section.jpg" alt="About-header"> -->
        
        <span class="z-10 text-black"><b>CONTACT US</b></span>
    </div>

    

    <div class="w-full max-w-sm p-4 mx-auto bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-6" [formGroup]="ContactForm" (ngSubmit)="sendEmail()">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white text-center">We'll hit you right back!</h5>
            <div>
                <label for="clientName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                    </svg>
                    </span>
                    <input type="text" id="clientName" formControlName="Name" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Name">
                </div>    
                <p *ngIf="ContactForm.get('Name')?.hasError('required') && (ContactForm.get('Name')?.touched || ContactForm.get('Name')?.dirty)" class="mt-2 text-sm text-red-600 dark:text-red-500">Kindly input a name!</p>
            </div>
            <div>
                <label for="clientEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="email" id="clientEmail" formControlName="Email" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••@company.com">
                </div>    
                <p *ngIf="ContactForm.get('Email')?.hasError('required') && (ContactForm.get('Email')?.touched || ContactForm.get('Email')?.dirty)" class="mt-2 text-sm text-red-600 dark:text-red-500">Kindly input an Email!</p>
                <p *ngIf="ContactForm.get('Email')?.hasError('email') && (ContactForm.get('Email')?.touched || ContactForm.get('Email')?.dirty)" class="mt-2 text-sm text-red-600 dark:text-red-500">Invalid Email, Try again!</p>
            </div>
            
            <div>
                <label for="service" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Service</label>
                <select id="service" formControlName="Service" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

                    <option>Procurement & Supply of Safety Equipment</option>
                    <option>Installation/Maintenance and Repair Services</option>
                    <option>Import & Export/Logistics Services</option>
                </select>
                    <p *ngIf="ContactForm.get('Service')?.hasError('required') && (ContactForm.get('Service')?.touched || ContactForm.get('Service')?.dirty)" class="mt-2 text-sm text-red-600 dark:text-red-500">Kindly Select a Service</p>
            </div>
            <div>
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
                <textarea id="message" formControlName="Message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
              </div>
            

            <button type="submit" [disabled]="!ContactForm.valid" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send <i class="fa-regular fa-paper-plane px-2"></i></button>
            

            
        </form>
    </div>


</div>
