<div class="gallery py-10 bg-white dark:bg-gray-900 dark:text-white text-lg lg:text-xl" id="contact">
    <div class=" gallery-title relative grid place-content-center text-4xl mb-10">
        <!-- <img src="./../../assets/images/About-section.jpg" alt="About-header"> -->
        
        <span class="z-10 text-black"><b>OUR GALLERY </b></span>
    </div>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:p-10 p-3 bg-white text-black dark:bg-gray-900 dark:text-white">


    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/extinguisher-1.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/glove-1.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/goggles-1.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/helmet-1.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/helmet-2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/logistics-1.jpg" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/ppe-1.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/ppe-2.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/reflector-1.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/extinguisher-2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/glove-2.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/fire-hyrant-4.jpg" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/extinguisher-3.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/glove-4.jpg" alt="">
        </div>
        
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/fire-hyrant-2.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/helmet-5.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/ppe-3.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/goggles-2.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/headset-1.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/goggles-3.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/glove-3.webp" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/helmet-6.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/logistics-2.png" alt="">
        </div>
        
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/fire-hyrant-1.jpg" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/helmet-3.webp" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/fire-hyrant-3.jpg" alt="">
        </div>
        
        
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="./../../assets/images/nose-mask.jpg" alt="">
        </div>
        
        
        
    </div>
</div>
